.grid{
    width: 560px;
height: 560px;
border: solid black;
display: flex;
flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    
    
}
.pac-dot {
    background-color: rgb(11, 11, 23);
    border: 5px solid rgb(255, 252, 252);
    box-sizing:border-box;
}
.wall {
    background-color: green;
}

.power-pellet {
    background-color: red;
    border-radius: 10px;
}
.blinky {
    background-color: yellow;
}

.pinky {
    background-color: rgb(236, 79, 105);
}
.inky {
    background-color: cyan;
}
.clyde {
    background-color: orange;
}
.pac-man {
    background-color: #2201c9bb;
    border-radius:10px;
    
}
.scared-ghost {
    background-color: rgb(117, 226, 78);
}